BIN_DIR = '@CMAKE_RUNTIME_OUTPUT_DIRECTORY@'
DRIVER_BIN = '@CMAKE_RUNTIME_OUTPUT_DIRECTORY@/ecrad'
RADIATION_CFG_DIR = '@ECRAD_CFG_DIR@'
TEST_DATA_INPUT_DIR = '@ECRAD_CI_TESTS_DATA_DIR@/input'
TOLERANCE_TEST_DATA_REFERENCE_DIR = '@ECRAD_CI_TESTS_DATA_DIR@/tol_reference'
CPU_REGRESSION_TEST_DATA_REFERENCE_DIR = '@ECRAD_CI_TESTS_DATA_DIR@/cpu_reg_reference'

TEST_CASES = ['era5slice']

SOLVER_TYPES = ['Tripleclouds', 'McICA', 'SPARTACUS']

INPUT_CFG_TEMPLATE_FILEPATH = '@CMAKE_CURRENT_SOURCE_DIR@/config.py.template'
INPUT_DRIVER_CFG_TEMPLATE_FILEPATH = '@CMAKE_CURRENT_SOURCE_DIR@/config.nam.template'

DRIVER_REPORT_DIR = '@CMAKE_SOURCE_DIR@/driver_report'
CI_TESTS_DIR = '@CMAKE_CURRENT_SOURCE_DIR@'
